:root {
  --Gradiente-fundo: linear-gradient(to top left, rgb(224, 232, 241), rgb(193, 201, 211));
  --sombra: #2f353d33;
  --luz: #ffffff73;
  --letra: rgb(105, 111, 122);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: var(--Gradiente-fundo);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.container {
  padding: 0 5em;
}
header {
  width: 100%;
  height: 4em;
  background: #696969;
  color: white;
  box-shadow: 0 24px 26px var(--luz);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #logo {
  font-size: 1.5rem;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 150px;
  padding: 25px;
  text-align: center;
  /*background-image: url(../assets/bg6.jpg)*/;
  /*background-color: #1560BD;*/
  color: black;
}


.btn {
  cursor: pointer;
  padding: 1em 5em;
  border-radius: 5em;
  border: none;
  margin:  8em 4em 0;
  background: none;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--letra);
  box-shadow: 
      10px 10px 30px var(--luz),
      -10px -10px 30px var(--sombra),
      inset 10px 10px 30px var(--luz),
      inset -10px -10px 30px var(--sombra);
}
#modalCliente {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5em);
  transition: opacity 300ms ease, transform 300ms ease;
}
#modalCliente.mostrar {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#modalProduto {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5em);
  transition: opacity 300ms ease, transform 300ms ease;
}
#modalProduto.mostrar {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal {
  position: relative;
  width: 50em;
  padding: 3em;
  border-radius: 2em;
  background: var(--Gradiente-fundo);
  box-shadow: 10px 10px 30px var(--sombra), 0 0 0 500em rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btnFechar {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: .7em 1em;
  border-radius: 10em;
  border: none;
  background: rgb(230, 21, 32);
  color: white;
  cursor: pointer;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em 0;
}
input {
  font-family: 'Montserrat', sans-serif;
  padding: 0.7em;
  width: 45%;
  border: none;
  border-radius: 5em;
  background: rgb(228, 241, 255);
  box-shadow: -5px -5px 10px var(--luz),
              5px 5px 10px var(--sombra);
}
textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  border: none;
  border-radius: 1.5em;
  background: rgb(228, 241, 255);
  box-shadow: -5px -5px 10px var(--luz),
              5px 5px 10px var(--sombra);
}
.btnCad {
  margin: 0;
  padding: .7em 3em;
  box-shadow: none;
  background: #000;
  color: white;
}